/*Starts Here*/
body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  padding-top: 12px;
  scale: 1.7;
  width: 150px; /* You can adjust the percentage as needed */
  height: 150px; /* This maintains the image's aspect ratio */
}

@media (max-width: 639px) {
  .logo {
    padding-top: 7px;
    margin-left: 17px;
    scale: 2;
    width: 85px; /* You can adjust the percentage as needed */
    height: 85px; /* This maintains the image's aspect ratio */
  }
}

.demo {
  margin-left: auto;
}

.nav-c {
  position: relative;
  background-color: #ffffff;
}

.nav-suffer {
  padding: 15px;
  background-color: rgba(216, 217, 218, 0.8);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  border-radius: 15px;
}

.nav-ele {
  padding: 6px 20px 0px 20px;
  display: inline-block;
  color: inherit;
  justify-content: center;
  transition: all ease smooth 0.3s;
}

.nav-ele:hover {
  border-bottom: 2px solid #b61414;
}

.active_nav {
  border-bottom: 2px solid #b61414;
}

.tool_container {
  max-width: 80%;
}

@media (max-width: 639px) {
  .tool_container {
    max-width: 100%;
  }
}

.nav-sub {
  position: absolute;
  border-radius: 10px;
  margin-top: -50px;
  margin-left: -23px;
  width: 120px;
  padding: 10px 0px 10px 0px;
  background-color: #ffffff;
  box-shadow: 0 5px 25px #c4c4c4;
  opacity: 0;
  z-index: -999;
  transition: all ease 0.5s;
}

@media (min-width: 1368px) {
  .lg-container {
    max-width: 85%;
  }
  .nav-container {
    max-width: 88.5%;
  }
}

@media (min-width: 640px) {
  .est-container {
    min-width: 70%;
  }
}

.cat-body {
  position: absolute;
  bottom: -50%; /* Initial position off screen */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  transition: bottom 0.3s ease;
  visibility: hidden; /* Initially hidden */
}

.catcard {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease; /* Smooth scale transition */
}

.catcard:hover {
  transform: scale(1.04); /* Scale on hover */
}

.catcard:hover .cat-body {
  bottom: 30%; /* Slide up on hover */
  visibility: visible; /* Make visible on hover */
}

.catimg {
  transition: opacity 0.3s ease;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.catimg:hover {
  opacity: 0.7; /* Adjust as needed */
}

.homed_modal_container {
  min-height: 50vh;
  max-height: 90vh; /* Ensures content is contained */
  background-color: white;
  border-radius: 15px;
  padding: 40px;
  overflow-y: auto; /* Enables vertical scrolling */
}

@media (max-width: 639px) {
  .homed_modal_container {
    min-width: 90vw; /* Remove min-width restriction */
  }
}

@media (min-width: 640px) {
  .button_container {
    display: flex;
  }
}

.modal-back {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.butt {
  border: 2px solid #00084c;
  color: #00084c;
  border-radius: 15px;
  background: none;
  padding: 2px 20px;
  font-size: 17px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 5px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.butt:hover {
  color: #d8d9da;
  background-color: #00084c;
  border-color: #00084c
}

.home-butt .butt {
  border: 3px solid #003399; /* Example of modification */
  color: #003399;
  background: #f2f2f2;
  padding: 5px 25px;
  font-size: 18px;
}

.home-butt .butt:hover {
  color: #ffffff;
  background-color: #003399;
  border-color: #003399;
}

.butt::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: 0.8s;
}

.jumbotron {
  height: 100vh; 
  padding:120px 0px 100px 0px;
  background-color: #353839;
  margin:0px auto;
  color: #F1593A;
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerdec {
  text-decoration:underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #F1593A;
}

.animeY {
  display: block;
  transform: translateY(100px);
  opacity: 0;
}

.animeX {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

.animeZ {
  display: block;
  transform: translateY(-100px);
  opacity: 0;
}

.swiper-button-next,
.swiper-button-prev {
  top: 90%;  /* Center vertically */
  transform: translateY(-50%);  /* Adjust to exact center */
}

.swiper-pagination {
  padding-bottom: 30px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(34, 0, 205, 0.8);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: rgb(34, 0, 205);
}

.custom-pagination-bullet {
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.custom-pagination-bullet:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.swiper-button-prev {
  display: none; /* Hides the previous button */
}

.service-image-container {
  position: relative;
  width: 100%; /* Or any fixed width you prefer */
  padding-top: 70%; /* This creates the 4:3 aspect ratio */
  overflow: hidden;
}

.service-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: center; /* Ensures the image covers the container */
}